<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Units</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="DB_CONNECTION" value="pgsql"/>
        <server name="DB_DATABASE" value="tswink"/>
        <server name="DB_USERNAME" value="tswink"/>
        <server name="DB_PASSWORD" value=""/>
        <server name="DB_PORT" value=""/>
        <server name="DB_HOST" value=""/>
    </php>
</phpunit>
